body{
    background-image:url(images/newbg2.2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

/* Title */
.title{
    display: flex;
    position: relative;
    color: #f9c857;
    justify-content:center;
    align-items: top;
    font-family: "Pixelify Sans", serif;
    font-size: 90px;
    padding-top: 0;
    text-shadow: 5px 8px  black;
}

/* Container */
.container{
    position: absolute;
    display: flex;
    width: 23%;
    height: 400px;
    border-radius: 12px;
    left: 68%;
    top: 35%;
    flex-direction: column;
    justify-content: space-evenly;
}

.enterDetails{
    font-family: "Pixelify Sans", serif;
    color: #f9c857;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


/* Create Button */
.createButton{
    width: 100%;
    position:relative;
    padding: 20px 5%;
    white-space: nowrap;
    border-radius: 12px;
    border-color: grey;
    border-width: 5px;
    font-family: "Pixelify Sans", serif;
    font-weight: 700;
    font-size: 30px;
    overflow: visible;
    background-color: #f9c857;
    --border-size:2px;
}

.createButton::before{
    content: '';
    position: absolute;
    border-radius: 12px;
    border-width: 5px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;
    background-color: orangered;
    border:var(--border-size)  solid orangered;
    transition: top,bottom,left,right,100ms ease-in-out;
 }
 
 .createButton:hover::before,
.createButton:focus::before{
     top:calc(var(--border-size)*-5);
     bottom:calc(var(--border-size)*-5);
     right:calc(var(--border-size)*-5);
     left:calc(var(--border-size)*-5);
     
} 

/* Inputs*/
.container input{
    font-family: "Pixelify Sans", serif;
    font-size: 20px;
    border-color:grey;
    padding: 12px;
    border-radius: 12px;
    border-width: 5px;
    
}