body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
}

p{
    font-size: 30px;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Pixelify Sans", serif;
    margin-top: 0.5%;
    margin-left: 0.5%;
    background-color: grey;
    padding: 5px;
    width: 74.5%;
    height: 75%;
    align-items: center;
}

.displayBlock{
    position: absolute;
    width: 95%;
    height: 20%;
    background-color:rgba(0,0,0,0.6) ;
    color:greenyellow;
    font-family: "Pixelify Sans", serif;
    top: 78%;
    border-style:solid ;
    border-color: grey;
}

.gameImage{
    width:100%;
    height:100%;
}

/* Right block */
.rightBlock{
    padding: 0.5%;
    margin: 0.5%;
    display: flex;
    position: relative;
    width: 25%;
    height: 80%;
    flex-direction: column;
    background-color: darkgrey;
}

.inventoryBlock{
    font-family: "Pixelify Sans", serif;
    display: flex;
    padding: 1%;
    height: 50%;
    background-color: grey;
    margin-bottom: 1%;
}

   
.cluesBlock{
    font-family: "Pixelify Sans", serif;
    display: flex;
    background-color: grey;
    height: 50%;
    padding: 1%;
    margin-bottom: 1%;
    
}

.settingsButton{
    position: fixed;
    top: 84%;
    right: 0.5%;
    height: 14%;
    width: 25.5%;
    padding: 20px 5%;
    white-space: nowrap;
    border-radius: 12px;
    border-color: grey;
    border-width: 5px;
    font-family: "Pixelify Sans", serif;
    font-weight: 700;
    font-size: 30px;
    overflow: visible;
    color: greenyellow;
    background-color: black;
    transition: 0.3s;
}

.settingsButton:hover{
    background-color: greenyellow;
    color: black;
}

/* Bottom block */

.bottomBlock{
    padding: 0.5%;
    margin: 0.5%;
    display: flex;
    position: absolute;
    bottom: 1%;
    background-color: grey;
    height: 18%;
    width: 72%;
}

.terminal{
    width: 100%;
    background-color: black;
    color:greenyellow;
    caret-shape: underscore;
    font-family: "Pixelify Sans", serif;
    font-size: 20px;
    border: 5px;
}