/* h1{
    padding: 0;
    margin: 0;
}

.selectionBox{
    padding: 0px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 20%;
    bottom: 0;
    right: 0;
}



.gameContainer{
    background-color: white;
    padding: 0px;
    margin: 0;
    height: 50%;
    display:flex;
    flex-direction: column;
    top: 10%;
    width: 90%;
    font-family: "Pixelify Sans", serif;
    font-size: 20px;
    overflow: hidden;
}
.tableTitle{
    font-size: 20px;
}
  
.gameScreen table {
width: 100%;
text-align: center;
box-sizing: border-box;
}
  
.gameScreen table, td {
border: 1px solid;
white-space: nowrap;
border-collapse: collapse;
}
  
.infoContainer{
text-align: center;
background-color: red;
width: 450px;
flex-direction: column;
align-items:center;
bottom: 2%;
font-size: small;
}
  
.infoBox{
    border:1px solid black;
    text-align: center;
}
  
.infoText{
    font-size: large;
} */
