body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Pixelify Sans", serif;
  margin-top: 0.5%;
  margin-left: 0.5%;
  background-color: grey;
  padding: 5px;
  width: 74.5%;
  height: 75%;
  align-items: center;
  overflow: hidden;
}

/* Boxes container styling */
.boxes-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items:center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  padding-top: 20px;
  
}

.containers4 {
  background-color: grey;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 5px solid greenyellow;
  font-family: "Pixelify Sans", serif;
  background-color: rgba(0,0,0,0.6);
  color: greenyellow;
  height:40%;
  width:22%;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  flex-direction:column;
  
}



.arrow {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  /* background-color: inherit; */
  padding-bottom:40px;
  /* padding-top:30px */
  
}

.arrow-up-container, .arrow-down-container {
  width: 74px;
  height: 63px;
  /* background-color: rgba(0,255,132,0.2); */
  border: 2px solid greenyellow;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  margin:1%;
  border-radius:15%;

}

.arrow-up-container{
  padding-bottom:15px;
}

.arrow-down-container{
  padding-top:19px;
}

.arrow-down,.arrow-up{

  display:block;
  width:0px;
  height:0px;
  border-left: 15px solid transparent;
  border-right:15px solid transparent;
  align-items: center;
  justify-content: center;
  


}

.arrow-up{
  border-top:15px solid transparent;
  border-bottom:40px solid greenyellow;
  
  
}

.arrow-down{
  border-bottom:15px solid transparent;
  border-top:40px solid greenyellow;
  
  
}

.neon-sign {
  /* display:flex;
  color: inherit;
  font-size: 40px;
  text-shadow: 
      0 0 10px currentColor,
      0 0 20px currentColor,
      0 0 40px currentColor,
      0 0 80px currentColor;
  font-family: "Pixelify Sans", serif; */

  display:none !important;

}







.door1 {
  background-image: url(../images/door.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  width: 50%;
  height: 99%;
  position: absolute;
  left: 0;
  animation: door1 1.5s forwards;
}

.door2 {
  background-image: url(../images/door.png);
  transform: scaleX(-1);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  width: 50%;
  height: 99%;
  position: absolute;
  right: 0;
  animation: door2 1.5s forwards;
}


.led-grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 10px;
}

.led-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
  width: 100px;
  height: 100px;
}

.light {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 2px;
}

.on {
  background-color: greenyellow;
  box-shadow: 0 0 10px greenyellow;
}

.off {
  background-color: #222;
}



@keyframes door1 {
  0% { left: 0%; top: 0; opacity: 1; }
  100% { left: -50%; top: 0; opacity: 1; } 
}

@keyframes door2 {
  0% { right: 0%; top: 0; opacity: 1; }
  100% { right: -50%; top: 0; opacity: 1; } 
}

.displayBlock{
  white-space: normal;
  overflow-y: scroll;
  position: absolute;
  width: 95%;
  height: 20%;
  background-color:rgba(0,0,0,0.6) ;
  color:greenyellow;
  font-family: "Pixelify Sans", serif;
  font-size: 2vw;
  top: 78%;
  border-style:solid ;
  border-color: grey;
  z-index:2;
}

.gameImage {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

/* Right block */
.rightBlock {
  padding: 0.5%;
  margin: 0.5%;
  display: flex;
  position: relative;
  width: 25%;
  height: 80%;
  flex-direction: column;
  background-color: darkgrey;
}

.inventoryBlock {
  font-family: "Pixelify Sans", serif;
  display: flex;
  padding: 1%;
  height: 50%;
  background-color: grey;
  margin-bottom: 1%;
}

.cluesBlock {
  font-family: "Pixelify Sans", serif;
  display: flex;
  background-color: grey;
  height: 50%;
  padding: 1%;
  margin-bottom: 1%;
}

.settingsButton {
  position: fixed;
  top: 84%;
  right: 0.5%;
  height: 14%;
  width: 25.5%;
  padding: 20px 5%;
  white-space: nowrap;
  border-radius: 12px;
  border-color: grey;
  border-width: 5px;
  font-family: "Pixelify Sans", serif;
  font-weight: 700;
  font-size: 30px;
  overflow: visible;
  color: greenyellow;
  background-color: black;
  z-index: 1;
  --border-size: 2px;
}

.settingsButton::before {
  content: '';
  position: absolute;
  border-radius: 12px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.settingsButton:hover::before {
  border: 5px solid greenyellow;
  top: calc(var(--border-size) * -5);
  bottom: calc(var(--border-size) * -5);
  left: calc(var(--border-size) * -5);
  right: calc(var(--border-size) * -5);
  transition: top, bottom, left, right 100ms ease-in-out;
}

.settingsButton:active {
  transform: translateY(4px);
}

/* Bottom block */
.bottomBlock {
  padding: 0.5%;
  margin: 0.5%;
  display: flex;
  position: absolute;
  bottom: 1%;
  background-color: grey;
  height: 18%;
  width: 72%;
}

.terminal {
  width: 100%;
  background-color: black;
  color: greenyellow;
  font-family: "Pixelify Sans", serif;
  font-size: 30px;
  border: 5px solid greenyellow;
}
#settingsContainer {
  background-color: greenyellow;
  display: none;
  position: fixed; 
  top: 50%; 
  left: 50%;
  width: 500px;
  height: 400px;
  border: 2px solid #fff;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  z-index: 100;
  transition: 0.3s ease-in-out;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.instruction-container {
  position: absolute;
  bottom: 15%; /* Positioned above the terminal */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.6);
  color: greenyellow;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  text-align: center;
  width: 80%;
}

.terminal-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: grey;
}
