body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
}


.container{
    position: relative;
    display: flex;
    /* flex-direction: column; */
    font-family: "Pixelify Sans", serif;
    margin-top: 0.5%;
    margin-left: 0.5%;
    background-color: grey;
    padding: 5px;
    width: 74.5%;
    height: 75%;
    align-items: center;
    overflow: hidden;
}

#selectionBox{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:rgba(245, 245, 245, 0.6) ;
    color: black;
    height: 35%;
    width: 25%;
    z-index: 2;
    left: 77%;
    font-size: 150%;
}

.door1{
    background-image: url(../images/door.png);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 3;
    width: 50%;
    height: 99%;
    position: absolute;
    left: 0;
    animation: door1 1.5s forwards;
}

.door2{
    background-image: url(../images/door.png);
    transform: scaleX(-1);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    width: 50%;
    height: 99%;
    position: absolute;
    right: 0;
    animation: door2 1.5s forwards;
}

@keyframes door1{
    /* 0% { left: -50%; top: 0; opacity: 1; }  
    25% { left: 0%; top: 0; opacity: 1; }    */
    /* 0% { left: -50%; top: 0; opacity: 1; }  */
    0% { left: 0%; top: 0; opacity: 1; }
    100% { left: -50%; top: 0; opacity: 1; } 
}
  

@keyframes door2{
    /* 0% { right: -50%; top: 0; opacity: 1; }  
    25% { right: 0%; top: 0; opacity: 1; }    */
    /* 0% { right: -50%; top: 0; opacity: 1; }   */
    0% { right: 0%; top: 0; opacity: 1; }
    100% { right: -50%; top: 0; opacity: 1; } 
}





/* 
.blink1{
    z-index: 3;
    width: 99%;
    height: 50%;
    position: absolute;
    left: 0;
    background-color: black;
    animation: ease-in-out blinking1 1.5s forwards;
}

.blink2{
    z-index: 3;
    width: 99%;
    height: 50%;
    position: absolute;
    left: 0;
    background-color: black;
    animation: ease-in-out blinking2 1.5s forwards;
}

@keyframes blinking1 {
    0%{bottom:80%}
    20%{bottom: 100%;}
    60%{bottom: 50%;}
    60%{bottom: 100%}
    80%{bottom: 50%;}
    100%{bottom: 100%;}
}

@keyframes blinking2 {
    0%,10%{top:80%}
    20%,40%{top: 100%;}
    60%{top: 50%;}
    60%{top: 100%}
    80%{top: 50%;}
    100%{top: 100%;}
} */

.flashing{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 19, 19, 0.364);
    z-index: 3;
    animation: flashingLight forwards;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes flashingLight {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 100;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
    
}

.displayBlock{
    white-space: normal;
    overflow-y: scroll;
    position: absolute;
    width: 95%;
    height: 20%;
    background-color:rgba(0,0,0,0.6) ;
    color:greenyellow;
    font-family: "Pixelify Sans", serif;
    font-size: 2vw;
    top: 78%;
    left: 0.8em;
    border-style:solid ;
    border-color: grey;
    z-index:2;
}

.gameImage{
    width:100%;
    height:100%;
    z-index: 1;
}

/* Right block */
.rightBlock{
    padding: 0.5%;
    margin: 0.5%;
    display: flex;
    position: relative;
    width: 25%;
    height: 80%;
    flex-direction: column;
    background-color: darkgrey;
}

.inventoryBlock{
    font-family: "Pixelify Sans", serif;
    display: flex;
    padding: 1%;
    height: 50%;
    background-color: grey;
    margin-bottom: 1%;
}

   
.cluesBlock{
    font-family: "Pixelify Sans", serif;
    display: flex;
    background-color: grey;
    height: 50%;
    padding: 1%;
    margin-bottom: 1%;
    
}

.settingsButton{
    position: fixed;
    top: 84%;
    right: 0.5%;
    height: 14%;
    width: 25.5%;
    padding: 20px 5%;
    white-space: nowrap;
    border-radius: 12px;
    border-color: grey;
    border-width: 5px;
    font-family: "Pixelify Sans", serif;
    font-weight: 700;
    font-size: 30px;
    overflow: visible;
    color: greenyellow;
    background-color: black;
    z-index: 1;
    --border-size: 2px;
}

.settingsButton::before {
    content: '';
    position: absolute;
    border-radius: 12px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.settingsButton:hover::before{
    
    border:5px solid greenyellow;
    top: calc(var(--border-size) * -5);
    bottom: calc(var(--border-size) * -5);
    left: calc(var(--border-size) * -5);
    right: calc(var(--border-size) * -5);
    transition: top, bottom, left, right 100ms ease-in-out;
}
.settingsButton:active {
    transform: translateY(4px);
  }

/* Bottom block */

.bottomBlock{
    padding: 0.5%;
    margin: 0.5%;
    display: flex;
    position: absolute;
    bottom: 1%;
    background-color: grey;
    height: 18%;
    width: 72%;
}

.terminal{
    width: 100%;
    background-color: black;
    color:greenyellow;
    font-family: "Pixelify Sans", serif;
    font-size: 30px;
    border: 5px;
}

#settingsContainer {
    overflow: hidden;
    background-color: transparent;
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: 0.3s ease-in-out;
}
 
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@keyframes glow {
    0% { text-shadow: 0 0 5px red; }
    50% { text-shadow: 0 0 15px red, 0 0 25px red; }
    100% { text-shadow: 0 0 5px red; }
}

.main-box{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top:30%; 
    right: 1.5%;
    z-index: 2;
    width:100%;
    height: 100%;
    background-color: transparent;
}

.ATTENTION{
    display: flex;
    font-size: 70px;
    /* font-family: 'Courier New', Courier, monospace; */
    color: red;
    font-weight: bold;
    animation: glow 1s infinite alternate;
    z-index: 2;
}

.text-alert {
    display: flex;
    color: red;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 10px red;
    animation: glow 1s infinite alternate;
    font-weight: bold;
  
}