body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
}
/* html{
    font-size: 100px;
} */

/* p{
    font-size: 0.3em;
} */

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Pixelify Sans", serif;
    margin-top: 0.5%;
    margin-left: 0.5%;
    background-color: rgb(5, 5, 5);
    padding: 5px;
    width: 74.5%;
    height: 75%;
    align-items: flex-end;
    z-index: 0;
    overflow: hidden;
}

.door1{
    background-image: url(../images/door.png);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 3;
    width: 50%;
    height: 99%;
    position: absolute;
    left: 0;
    animation: door1 1.5s forwards;
}

.door2{
    background-image: url(../images/door.png);
    transform: scaleX(-1);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    width: 50%;
    height: 99%;
    position: absolute;
    right: 0;
    animation: door2 1.5s forwards;
}

@keyframes door1{
    /* 0% { left: -50%; top: 0; opacity: 1; }  
    25% { left: 0%; top: 0; opacity: 1; }    */
    /* 0% { left: -50%; top: 0; opacity: 1; }  */
    0% { left: 0%; top: 0; opacity: 1; }
    100% { left: -50%; top: 0; opacity: 1; } 
}


@keyframes door2{
    /* 0% { right: -50%; top: 0; opacity: 1; }  
    25% { right: 0%; top: 0; opacity: 1; }    */
    /* 0% { right: -50%; top: 0; opacity: 1; }   */
    0% { right: 0%; top: 0; opacity: 1; }
    100% { right: -50%; top: 0; opacity: 1; } 
}


.displayBlock{
    white-space: normal;
    overflow-y: scroll;
    position: absolute;
    width: 95%;
    height: 20%;
    background-color:rgba(0,0,0,0.6) ;
    color:greenyellow;
    font-family: "Pixelify Sans", serif;
    font-size: 2vw;
    top: 78%;
    border-style:solid ;
    border-color: grey;
    z-index:2;
}

.gameImage{
    width:100%;
    height:100%;
    z-index: 1;
}

/* Right block */
.rightBlock{
    padding: 0.5%;
    margin: 0.5%;
    display: flex;
    position: relative;
    width: 25%;
    height: 80%;
    flex-direction: column;
    background-color: darkgrey;
}

.inventoryBlock{
    font-family: "Pixelify Sans", serif;
    display: flex;
    padding: 1%;
    height: 50%;
    background-color: grey;
    margin-bottom: 1%;
}

   
.cluesBlock{
    font-family: "Pixelify Sans", serif;
    display: flex;
    background-color: grey;
    height: 50%;
    padding: 1%;
    margin-bottom: 1%;
    
}

.settingsButton{
    position: fixed;
    top: 84%;
    right: 0.5%;
    height: 14%;
    width: 25.5%;
    padding: 20px 5%;
    white-space: nowrap;
    border-radius: 12px;
    border-color: grey;
    border-width: 5px;
    font-family: "Pixelify Sans", serif;
    font-weight: 700;
    font-size: 30px;
    overflow: visible;
    color: greenyellow;
    background-color: black;
    z-index: 1;
    --border-size: 2px;
}

.settingsButton::before {
    content: '';
    position: absolute;
    border-radius: 12px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.settingsButton:hover::before{
    
    border:5px solid greenyellow;
    top: calc(var(--border-size) * -5);
    bottom: calc(var(--border-size) * -5);
    left: calc(var(--border-size) * -5);
    right: calc(var(--border-size) * -5);
    transition: top, bottom, left, right 100ms ease-in-out;
}
.settingsButton:active {
    transform: translateY(4px);
  }

/* Bottom block */

.bottomBlock{
    padding: 0.5%;
    margin: 0.5%;
    display: flex;
    position: absolute;
    bottom: 1%;
    background-color: grey;
    height: 18%;
    width: 72%;
}

.terminal{
    width: 100%;
    background-color: black;
    color:greenyellow;
    font-family: "Pixelify Sans", serif;
    font-size: 20px;
    border: 5px;
}

#settingsContainer {
    background-color: greenyellow;
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%;
    width: 500px;
    height: 400px;
    border: 2px solid #fff;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: 0.3s ease-in-out;
}
 
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.main-guy, .girl, .women, .voice {
    font-size: 2.5em;
}

.main-guy {
    color: cyan;
    text-align: right;
    width: 50%;
    white-space: normal;
    line-height: 1.2;
    animation-fill-mode: backwards;
    animation-name:moveLeft;
    animation-delay: 2s;
    animation-duration: 2s;
}

.girl {
    color: pink;
    text-align: right;
    width: 100%;
    animation-name: moveRight;
    animation-duration: 2s;
}

.women {
    color: green;
    text-align: right;
    width: 100%;
    animation-fill-mode: backwards;
    animation-name:moveRight;
    animation-delay: 5s;
    animation-duration: 2s;
}

.voice {
    color: lightgrey;
    text-align: center;
    width: 100%;
    animation-fill-mode: backwards;
    animation-name:fadeIn;
    animation-delay: 8s;
    animation-duration: 2s;
}

.floating {
    display: inline-block;
    animation: floatUp 2s infinite alternate;
}

@keyframes moveRight {
    from { transform: translateX(90%); }
    to { transform: translateX(0%); }
}
@keyframes moveLeft {
    from { transform: translateX(-180%); }
    to { transform: translateX(0%); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to {opacity: 1; }
}

@keyframes floatUp {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}